.store {
  display: flex;
}

.store .text {
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.store .text button {
  background: #6a6979;
  color: #ffffff;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  border: none;

  font-size: 1.2rem;
}
