.store {
  display: flex;
  min-height:45vh ;
  padding: 2rem;
}

.store .content{
  min-height: 100vh;
}

.store .text {
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.store .text button {
  background: #6a6979;
  color: #ffffff;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  border: none;

  font-size: 1.2rem;
}

.store .text button a{
  text-decoration: none;
  color: #ffffff;
}

.store .text button button a:hover{
  transition: 0.8s;
  color: #dfdbdb;
}
